In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns=['lat', 'lot']
)
df

          lat         lot
0   35.704249  139.715021
1   35.697905  139.706146
2   35.699668  139.705752
3   35.694841  139.703484
4   35.708451  139.707422
..        ...         ...
95  35.702185  139.705188
96  35.691336  139.714801
97  35.706964  139.713521
98  35.705009  139.706248
99  35.691349  139.705527

[100 rows x 2 columns]

In [7]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
import time
for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9